@{
    ViewData["Title"] = "About";
}
<!-- <h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3> -->

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/clean-blog/img/about-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>À Propos</h1>
              <span class="subheading">Blogging avec .NET MVC</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Dans le cadre d'un projet universitaire, j'ai crée ASPress, un système de blog similaire à WordPress, mais qui utilise .NET MVC et ASP au lieu de PHP.</p>
          <p>N'étant pas un développeur Microsoft, j'ai développé cette plateforme sous Linux Debian, .NET étant maintenant compatible avec Linux.</p>
          <p>Je dois avouer que la combinaison de .NET MVC + SQLite + Bootstrap + Visual Studio Code a été assez simple à mettre en place. C'est Microsoft qui arrive enfin pour Linux et Mac OS!</p>
        </div>
      </div>
    </div>