
@model IEnumerable<ASPress.Models.Posts>
@{
    ViewData["Title"] = "Home - ASPress";
}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/clean-blog/img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Mon Blog</h1>
              <span class="subheading">Projet .NET 2018 - ASPress</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          @foreach(var item in Model){
              <div class="post-preview">
                  <a asp-action="Details" asp-route-id="@item.Id">
                    <h2 class="post-title">
                        @Html.DisplayFor(modelItem => item.Title)
                    </h2>
                    <h3 class="post-subtitle">
                        @item.Summary
                    </h3>
                  </a>
                  <p class="post-meta">Le @item.DatePublish</p>
              </div>
              <hr>
          }


          <!-- Pager -->
          <!-- <div class="clearfix">
          <a class="btn btn-secondary float-right" href="#">Older Posts &rarr;</a>
          </div> -->
          
        </div>
      </div>
    </div>